html,
body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchent MS", Arial, sans-serif;
  color: rgb(70, 70, 70);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  background-color: rgb(142, 156, 143);
}

nav.nav-container {
  background-color: rgb(142,156,143);
  min-height: 100vh;
  min-width: 180px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav.nav-container .nav-item-container {
  padding: 10px;
  cursor: pointer;
}

.dashboard {
  width: 100%;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container {
  background-color: rgb(255, 255, 255);
  width: 350px;
  /* height: 400px; */
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.card-container .info-container {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container .info-container > div > p {
  margin: -10px 0px 5px;
  font-size: 12px;
  font-weight: 600;
}

.card-container .info-container > span {
  font-weight: normal;
  font-size: 11px;
}

.main-image,
.post-image {
  width: 100%;
  border-radius: 10px;
}

.main-image-alt {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-container .tag {
  color: rgb(1, 1, 1);
  padding: 5px 10px;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-container .tag:nth-child(1) {
  margin-left: 0 !important;
}

.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
}

/* Post page */

.post-container {
  background-color: #fff;
  margin: 20px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 972px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  padding: 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.author-container,
.map-container {
  width: 48%;
}

.map-container .map {
  width: 100%;
  height: 200px;
}
