html,
body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchent MS", Arial, sans-serif;
  color: rgb(70, 70, 70);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  background-color: rgb(142, 156, 143);
}

nav.nav-container {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav.nav-container .nav-item-container {
  padding: 10px 20px 20px;
}
